{% extends 'base.html.twig' %}



{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/corentin/ProjetL3Symfony/src/Controller/IndexController.php'|file_link(0) }}">src/Controller/IndexController.php</a></code></li>
    </ul>
</div>

<table class="table">
{% for event in events %}
            <tr>
                <td>{{ event.nomEvent }}</td>
                <td>/</td>
                <td> Nombre de place Place : {{ event.nbPlace - event.nbInscrit }}</td>

                <td>
                    <a href="{{ path('app_index_event_show', {'id': event.id}) }}">Voir l'évènement</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'évenement</td>
            </tr>
        {% endfor %}
</table>


{% endblock %}
